<footer class="container-fluid py-4 bg-light">
    <div class="container">
        <!-- Footer hyperlinks -->
        <div class="row">
            <div class="d-none d-md-block col">
                <img src="img/full_logo-f-color-d.png" alt="Noxford Library logo" class="img-fluid">
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4 class="fw-bold">Services</h4>
                    <li>
                        <a href="/collection">Books collection</a>
                    </li>
                    <li>
                        <a href="/getcard">Get a library card</a>
                    </li>
                    <li>
                        <a href="/donate">Donate now</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4 class="fw-bold">Misc</h4>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/others#policy">Privacy & Policy</a>
                    </li>
                    <li>
                        <a href="/others#terms">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4 class="fw-bold">Account</h4>
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>   
            </div>
        </div>
        <!-- Social icons -->
        <div class="text-center text-sm-start my-4">
            <a target="_blank" href="https://www.facebook.com/RIR360/" class="mx-2">
                <img src="img/fb-icon.png" alt="Facebook" width="30">
            </a>
            <a target="_blank" href="https://twitter.com/_rir360" class="mx-2">
                <img src="img/tw-icon.png" alt="Twitter" width="30">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/linked-rir360/" class="mx-2">
                <img src="img/in-icon.png" alt="Linkedin" width="30">
            </a>
            <a target="_blank" href="https://www.youtube.com/rejwanislamrir" class="mx-2">
                <img src="img/yt-icon.png" alt="Youtube" width="30">
            </a>
        </div>
        <!-- Copyright -->
        <p class="text-muted">Copyright(c) Noxford Library 2021 -
             <a target="_blank" href="https://github.com/rir360">Rejwan Islam Rizvy</a>
        </p>
    </div>
</footer>