<footer class="container-fluid py-4 bg-light">
    <div class="container">
        <!-- Footer hyperlinks -->
        <div class="row">
            <div class="d-none d-md-block col">
                <img src="img/full_logo-f-color-d.png" alt="Noxford Library logo" class="img-fluid">
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4>Services</h4>
                    <li>
                        <a href="#">Books collection</a>
                    </li>
                    <li>
                        <a href="#">Get a library card</a>
                    </li>
                    <li>
                        <a href="#">Email subscription</a>
                    </li>
                    <li>
                        <a href="#">Donate now</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4>Policy</h4>
                    <li>
                        <a href="#">Privacy & Policy</a>
                    </li>
                    <li>
                        <a href="#">Other Policies</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Governance</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="text_none">
                    <h4>Rules</h4>
                    <li>
                        <a href="#">Rules & Regulations</a>
                    </li>
                    <li>
                        <a href="#">About Noxford</a>
                    </li>
                    <li>
                        <a href="#">Language</a>
                    </li>
                </ul>   
            </div>
        </div>
        <!-- Social icons -->
        <div class="text-center text-sm-end my-4">
            <a href="#" class="mx-2">
                <img src="img/fb-icon.png" alt="Facebook" width="30">
            </a>
            <a href="#" class="mx-2">
                <img src="img/tw-icon.png" alt="Twitter" width="30">
            </a>
            <a href="#" class="mx-2">
                <img src="img/in-icon.png" alt="Linkedin" width="30">
            </a>
            <a href="#" class="mx-2">
                <img src="img/yt-icon.png" alt="Youtube" width="30">
            </a>
        </div>
        <!-- Copyright -->
        <p class="text-muted">Copyright(c) Noxford Library 2021 -
             <a href="/about">Rejwan Islam Rizvy</a>
        </p>
    </div>
</footer>