<nav class="navbar navbar-light navbar-expand-md border-bottom">
    <div class="container-fluid px-sm-4">
        <a href="/" class="navbar-brand fw-bold">
            <img src="img/full_logo-f-color.png" alt="Noxford Library Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse smooth" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-md-0 px-3 px-md-0">
                <li class="nav-item"><a href="/" class="nav-link text-dark">
                    <%= (userId != null) ? "Dashboard" : "Home" %>
                </a></li>
                <li class="nav-item"><a href="/collection" class="nav-link text-dark">Collection</a></li>
                <li class="nav-item"><a href="/getcard" class="nav-link text-dark">Get a Card</a></li>
                <li class="nav-item"><a href="/about" class="nav-link text-dark">About</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 px-3 px-md-0">
                <li class="nav-item"><a href="/search" class="nav-link text-dark">
                    <img class="d-none d-md-inline-block" src="img/sr-icon.png" alt="Noxford Search" width="20"> Search
                </a></li>
                <% if (userId != null) { %>
                    <li class="nav-item d-none d-md-block"><a href="/account" class="profile px-2">
                        <img class="rounded-circle smooth" src="img/profile.png" alt="Noxford user account picture" width="40" height="40">
                    </a></li>
                    <li class="nav-item d-block d-md-none">
                        <a href="/account" class="nav-link text-dark">
                            Account
                        </a>
                    </li>
                    <li class="nav-item"><a href="/donate" class="nav-link bg-primary text-light px-3 rounded btn">Donate</a></li>
                <% } else { %>
                    <li class="nav-item"><a href="/donate" class="nav-link text-primary">Donate</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link bg-primary text-light px-3 rounded btn">Log in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>