<div class="container-fluid">
    <div class="container py-5">
        <h1 class="py-2">Best choices</h1>
        <div class="d-block">
            <% for(let i = 0; i < data.length; i++) { %>
            <div class="book_card">
                <a href="#" class="text_none text-dark">
                    <img class="smooth rounded img-fluid" src="<%= data[i].cover %>" alt="an image">
                    <h2 class="text-primary mt-2"><%= data[i].name %></h2>
                    <p>
                        <small><%= data[i].author %></small>
                        <small class="text-muted"><%= data[i].pub %></small>
                    </p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>