<div class="container-fluid bg-danger">
    <div class="container py-3 text-white">
        <h1 class="display-1 py-2">Error: <%=message%></h1>
        <p class="col-sm-6">Please try again.</p>
    </div>
</div>