<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title> <%- title %>  </title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-md border-bottom border-primary">
        <div class="container-fluid px-sm-4">
            <a href="#" class="navbar-brand fw-bold">
                <img src="img/full_logo-f-color.png" alt="Noxford Library Logo" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse smooth" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0 px-3 px-md-0">
                    <li class="nav-item"><a href="#" class="nav-link text-dark">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark">Collection</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark">Get a Card</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark">Get Emails</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 px-3 px-md-0">
                    <li class="nav-item"><a href="#" class="nav-link text-dark">
                        <img src="img/sr-icon.png" alt="Noxford Search" width="20"> Search
                    </a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-dark">Sign in</a></li>
                    <li class="nav-item"><a href="#" class="nav-link bg-primary text-light px-3 rounded btn">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- |||||||||||||| -->
        <%- body %>
    <!-- |||||||||||||| -->

    <!-- Footer -->
    <footer class="container-fluid py-4 bg-light">
        <div class="container">
            <!-- Footer hyperlinks -->
            <div class="row">
                <div class="d-none d-md-block col">
                    <img src="img/full_logo-f-color-d.png" alt="Noxford Library logo" class="img-fluid">
                </div>
                <div class="col-sm">
                    <ul class="text_none">
                        <h4>Services</h4>
                        <li>
                            <a href="#">Books collection</a>
                        </li>
                        <li>
                            <a href="#">Get a library card</a>
                        </li>
                        <li>
                            <a href="#">Email subscription</a>
                        </li>
                        <li>
                            <a href="#">Donate now</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="text_none">
                        <h4>Policy</h4>
                        <li>
                            <a href="#">Privacy & Policy</a>
                        </li>
                        <li>
                            <a href="#">Other Policies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Governance</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="text_none">
                        <h4>Rules</h4>
                        <li>
                            <a href="#">Rules & Regulations</a>
                        </li>
                        <li>
                            <a href="#">About Noxford</a>
                        </li>
                        <li>
                            <a href="#">Language</a>
                        </li>
                    </ul>   
                </div>
            </div>
            <!-- Social icons -->
            <div class="text-center text-sm-end my-4">
                <a href="#" class="mx-2">
                    <img src="img/fb-icon.png" alt="Facebook" width="30">
                </a>
                <a href="#" class="mx-2">
                    <img src="img/tw-icon.png" alt="Twitter" width="30">
                </a>
                <a href="#" class="mx-2">
                    <img src="img/in-icon.png" alt="Linkedin" width="30">
                </a>
                <a href="#" class="mx-2">
                    <img src="img/yt-icon.png" alt="Youtube" width="30">
                </a>
            </div>
            <!-- Copyright -->
            <p class="text-muted">Copyright(c) Noxford Library 2021 -
                 <a href="/about">Rejwan Islam Rizvy</a>
            </p>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>