body {
    font-family: 'serif';
}

/* font family */
h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Times New Roman';
}

/* Bootstrap overwrites */
.nav-link {
    border-bottom: 2px solid transparent;
    transition: ease 0.2s;
    margin: 0 5px;
}
.nav-link:hover {
    border-bottom: 2px solid var(--bs-primary);
}
.nav-link:active {
    background: var(--bs-light);
}

/* Custom classes */
.smooth {
    transition: all ease 0.2s;
}
.text_none {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}
.text_none * {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}
.profile img {
    border: 2px solid transparent;
}
.profile img:hover {
    border: 2px solid var(--bs-primary);
}.header_bg {
    background: url("../img/home-bg.jpg");
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(1, 29, 61, 0.4);
}
.book_card {
    display: inline-block;
    width: 180px;
    margin: 10px 20px;
}
.book_card img:hover {
    transform: translate(0, -20px);
    box-shadow: 0 30px 10px rgba(1, 29, 61, 0.4);
}
#loading_overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 253, 255, 0.7);
}
#loading_overlay div {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50%;
    border: 2px solid var(--bs-primary);
}