<div class="container-fluid py-5">
   <div class="container">
      <form class="
            m-auto p-4
            col-sm-8
            col-md-6
            col-lg-4
            shadow
            rounded
            " action="/login" method="post">
         <h1 class="text-primary py-2">Log in</h1>
         <div class="form-group py-1">
            <label for="email">Email Address</label>
            <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email" required>
            <small id="emailHelp" class="form-text text-muted">Enter the email you've used to register.</small>
         </div>
         <div class="form-group py-1">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" placeholder="Enter Password" minlength="8" maxlength="40" required>
         </div>
         <div class="form-group text-center py-1">
            <button type="submit" class="btn btn-primary fs-5 mb-2">Login</button>
            <p>Don't have account? <a href="/register">Register Now</a></p>
         </div>
      </form>
   </div>
</div>