<div class="container-fluid py-5">
    <div class="container">
        <form class="
            m-auto p-4
            col-sm-8
            col-md-6
            col-lg-4
            shadow
            rounded
            " action="/register" method="post">
            <h1 class="text-primary py-2">Register</h1>
            <div class="form-group py-1">
                <label for="fname">Full Name</label>
                <input name="fname" type="text" class="form-control" aria-describedby="fnameHelp" placeholder="Enter your name" required>
                <small id="fnameHelp" class="form-text text-muted">You don't have to put a real name.</small>
             </div>
            <div class="form-group py-1">
                <label for="email">Email Address</label>
                <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email" required>
                <small id="emailHelp" class="form-text text-muted">You don't have to put a real email.</small>
             </div>
             <div class="form-group py-1">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" aria-describedby="passHelp" placeholder="Enter Password" minlength="8" maxlength="40" required>
                <small id="passHelp" class="form-text text-muted">Make a strong password. You don't need it though.</small>
             </div>
             <div class="form-group py-1">
                <label for="confirm">Confirm Password</label>
                <input id="confirm" name="confirm" type="password" class="form-control" aria-describedby="confirmHelp" placeholder="Confirm Password" required disabled>
                <small id="confirmHelp" class="form-text"></small>
             </div>
            <div class="form-group text-center py-1">
                <p>By signing up you accept our <a href="#">Terms Of Use</a></p>
                <button type="submit" id="submit" class="btn btn-primary fs-5 mb-2" disabled>Register</button>
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = () => {
        // getting the elements
        const pwd = document.querySelector("#password");
        const confirm_pwd = document.querySelector("#confirm");
        const status = document.querySelector("#confirmHelp");
        const submit = document.querySelector("#submit");
        // enable confirm field upon password input
        pwd.addEventListener("keyup", () => {
            confirm_pwd.disabled = false;
        });
        // checking if password matched on keyup
        [pwd, confirm_pwd].forEach(field => {
            field.addEventListener("keyup", () => {
                if (pwd.value == confirm_pwd.value && pwd.value) {
                    status.innerHTML = "Match";
                    status.style.color = "Green";
                    submit.disabled = false;
                } else if (!pwd.value || !confirm_pwd.value) {
                    status.innerHTML = "";
                    submit.disabled = true;
                }
                else {
                    status.innerHTML = "Did Not Match";
                    status.style.color = "Red";
                    submit.disabled = true;
                }
            });
        });
    }
</script>