<div class="container-fluid py-5">
    <div class="container">
        <div class="col-lg-8">
            <h1 class="fw-bold">Status Title</h1>
            <p>Status details</p>
        </div>
    </div>
</div>