<div class="container-fluid py-5">
    <div class="container">
        <div class="col-lg-8">
            <h1 class="fw-bold">About Noxford Library</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, et ad. Soluta, eum sit dolor explicabo illum cumque est, nostrum quis rerum incidunt eaque, possimus tempore veniam nesciunt sunt eos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quo labore pariatur cum voluptas at nesciunt, natus fuga perspiciatis saepe qui voluptatibus. Perferendis aspernatur minima, culpa hic libero blanditiis quam.</p>
            <h2>Contact Us</h2>
            <p>
                Phone: +132 1532 4512 21<br/>
                Email: noxford-library@gmail.com
            </p>
        </div>
    </div>
</div>