<div class="container-fluid py-5">
    <div class="container">
        <div class="col-lg-8">
            <h1 class="fw-bold">Noxford Library</h1>
            <p>
                It is a full-stack website for a library. Here you can place a hold for a book, see book information, search for books. Although you can't read any book, it shows you how can nicely build a system like this.<br/>
                A user can also register and login into the website to keep track of the books. Further details are given below.
            </p>
            <h2>Preview</h2>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KwtOZKcUZ3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
            <h2>Developer</h2>
            <p>
                <img src="https://github.com/RIR360.png" alt="" width="100"><br/>
                <a target="_blank" href="https://github.com/RIR360">
                    <strong class="fs-5">Rejwan Islam Rizvy</strong>
                </a><br/>
                <small>Graphic Designer and Developer</small>
            </p>
        </div>
    </div>
</div>