<div class="container-fluid py-5 py-sm-4 bg-primary">
    <div class="container pb-sm-3 text-light">
        <div class="row text-center">
            <div class="col-md-7 m-auto">
                <h1 class="display-2 mb-lg-3">Get resources easily like never before!</h1>
                <p class="fs-5 col-md-7 m-auto fs-4">
                    Noxford library is a great digital credential you must have to access unlimited resources.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col order-2 order-md-1">
                <h1 class="display-2 py-3">Apply for a Library Card</h1>
                <p class="col-sm-8">Residents ages 13 and older can get a digital library card through our online card application. You can access online resources with the card.</p>
                <div class="form-group">
                    <button class="fs-5 my-3 btn btn-primary" disabled>Apply Now!</button>
                </div>
                <small class="form-text text-danger">Card distribution hasn't started yet.</small>
            </div>
            <div class="col-md m-auto order-1 order-md-2">
                <img class="img-fluid" src="img/library-card.jpg" alt="">
            </div>
        </div> 
    </div>
</div>