<div class="container-fluid py-5 header_bg">
    <div class="container pb-sm-3 text-light">
        <div class="row text-center text-sm-start">
            <div class="col-md-7">
                <h1 class="display-2 mb-lg-3">Our library is here!</h1>
                <p class="fs-4 col-md-10">
                    Our opening hours have been extended! All available locations offer unlimited browsing and general space use.
                    <a href="#" class="text-light">Learn More</a>
                </p>
                <a href="/register" class="fs-5 mt-3 btn btn-primary">Join Us ></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col order-2 order-md-1">
                <h1 class="display-2 py-3">Read the Best Books.</h1>
                <p class="col-sm-8 fs-4">By becoming a member of Noxford Library, You'll get access to amazing books waiting for you to read.</p>
                <a href="/register" class="fs-5 my-3 btn btn-primary">Become a member</a>
            </div>
            <div class="col-md m-auto order-1 order-md-2">
                <img class="img-fluid rounded shadow" src="img/girl reading book.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 px-0">
    <div class="container text-center">
        <h1 class="display-2">Find the perfect one.</h1>
        <p class="col-md-6 container fs-4">You can find a lot of noteworthy books in our collection. Browse through them to find out the perfect for you to read.</p>
        <div class="my-4 container">
            <img class="img-fluid rounded shadow" src="img/book collection.jpg" alt="">
        </div>
        <a href="/collection" class="fs-5 btn btn-primary">See Collection</a>
    </div>
</div>

<div class="container-fluid py-3 px-0 bg-primary">
    <div class="container text-center py-5 text-light">
        <h1 class="display-2">Show your support.</h1>
        <p class="col-md-6 container fs-4">We depend on support from generous individuals like you to help fund our collections, job search resources, access to the internet, and so much more.</p>
        <a href="/donate" class="fs-5 btn btn-light">Donate</a>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md m-auto">
                <img class="img-fluid rounded shadow" src="img/passing card.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="display-2 py-3">Get a library card.</h1>
                <p class="fs-4">Can get a digital library card through our online card application and gain access to an array of digital resources. So, what are you waiting for?</p>
                <a href="/getcard" class="fs-5 my-3 btn btn-primary">Get a Card</a>
            </div>
        </div>
    </div>
</div>