<div class="container-fluid py-5">
    <div class="container">
        <div id="policy" class="col-lg-8">
            <h1 class="fw-bold">Privacy and Poilcies</h1>
            <p>Update: 9/22/2021</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vel veritatis dolorem modi repellat beatae. Quae optio quos nulla, distinctio nihil delectus at? Praesentium iure nobis molestias dolore assumenda quasi!<br/>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid impedit neque quo odit, laborum incidunt. Facere ex ad consectetur maxime rerum totam velit hic reiciendis possimus, quis corrupti quia error?</p>
            <h2>Information we collect</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores placeat in aspernatur voluptas maxime provident quaerat commodi aperiam vel animi facilis totam, exercitationem ducimus labore dolorem soluta accusantium eveniet.</p>
            <h2>How we use your information</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati, alias corrupti molestiae dolore sint libero repellendus, doloremque voluptas odit eos saepe beatae! Praesentium, cumque illo quos sunt corporis ullam.</p>
            <h2>Security</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, aspernatur culpa. Atque placeat consectetur tenetur deserunt! Nisi totam dignissimos, ratione quae minima nesciunt cum inventore corporis. Earum sequi officia nihil!</p>
        </div>
        <div id="terms" class="col-lg-8">
            <h1 class="fw-bold">Terms and conditions</h1>
            <p>Update: 9/22/2021</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vel veritatis dolorem modi repellat beatae. Quae optio quos nulla, distinctio nihil delectus at? Praesentium iure nobis molestias dolore assumenda quasi!<br/>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br/>Aliquid impedit neque quo odit, laborum incidunt. Facere ex ad consectetur maxime rerum totam velit hic reiciendis possimus, quis corrupti quia error?</p>
            <h2>Eligibility</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga aperiam, aspernatur vero aliquam harum temporibus corrupti reiciendis rerum numquam. Numquam ipsam quam accusamus pariatur rerum provident consectetur blanditiis eligendi.</p>
            <h2>Access and use</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, sint placeat necessitatibus quas illum, porro qui inventore hic optio, magnam labore dicta! Doloremque dicta consequatur numquam commodi aut incidunt hic.</p>
            <h2>Restrictions</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis id ratione esse dolorem mollitia. Autem, expedita nulla? Tempore quaerat in modi! Dolores sapiente iste consequuntur pariatur et esse ducimus aspernatur!<br/>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur</li>
                    <li>Facilis id ratione esse dolorem mollitia.</li>
                    <li>Autem, expedita nulla? Tempore quaerat in modi! Dolores sapiente iste</li>
                    <li>consequuntur pariatur et esse ducimus aspernatur!</li>
                </ul>
            </p>
        </div>
    </div>
</div>